.container {
    background: #e8e8e6;
    border: 2px solid #89a14f;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 20px 32px 32px;
    min-width: 340px;
    max-width: 50vw;
}

@media screen and (max-width: 700px) {
    .container {
        max-width: 80vw;
    }
}

.instructions {
    margin-bottom: 24px;
}

.instructions ol {
    margin-top: 8px;
}

.label {
    display: inline-block;
    margin-bottom: 8px;
}

input,
.convertButton {
    font: inherit;
}

.convertButton {
    margin-top: 16px;
}

.error {
    color: #f30909;
}
