:root {
    --body-top-margin: 20px;
    --body-margin: 40px;
    --text-color: #2e2924;

    --white: #E8EAEB;
    --theme-color-light: #BADA6E;
    --theme-color: #89A14F;
    --theme-color-dark: #667521;
    --theme-color-darkest: #495419;

    --white_muted: #E7EAEC;
    --theme-color-light_muted: #A9B098;
    --theme-color_muted: #7E8868;
    --theme-color-dark_muted: #515541;
    --theme-color-darkest_muted: #3B3D30;

    --accent-color-dark: #6c1944;
    --accent-color-darkest: #4b112f;
}
